.button {
  box-sizing: border-box;
  cursor: pointer;
  /* background-repeat: no-repeat;
  background-position: center; */
  padding: 0;
  border: 0;
  transition: 0.3s;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

/* .button:hover {
  border-color: rgba(255, 255, 255, 0.6);
  background-repeat: no-repeat;
  background-position: center;
} */

.button:focus {
  outline: none;
}
