.search-form {
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  align-self: center;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  border-radius: 100px;
}

/* .label__placeholder {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #C4C4C4;
  position: absolute;
  top: -10px;
  left: 0;
} */

.label__input {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #1A1B22;
  width: 100%;
  padding: 21px 24px;
  border: 0;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
  border-radius: 100px;
}

.label__input_type_error {
  border-bottom-color: #FF0000;
}

.label__error {
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.label__error_active {
  opacity: 1;
}

.search-form__button {
  color: #fff;
  width:27.6%;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media screen and (max-width: 975px){
  .label__input {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .search-form__button {
    width: 35.7%;
  }
}

@media screen and (max-width: 650px){
  .search-form {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    max-width: 400px;
  }
  .label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 16px;
  }
  .label__input {
    padding: 17px 16px;
  }
  .search-form__button {
    width: 100%;
    position: static;
    padding: 17px 16px;
  }
}
